body {
	background: green;
}
.honza{
	width: 100px;
	height: 100px;
	margin: 20px;
	padding: 10px;
	background: cyan;
}
.tonda {
  background-color: red;
  color: white;
  font-size: 120%;
  padding: 10px;
  height: 100px;
  width: 100px;
}
.petr{
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  background: green; 
}


.vitaliy{
  width: 70px;
  height: 50px;
  margin: 10px;
  padding: 15px;
  background: black; 
}
.martinkolecko {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: red;
	margin: 20px;
	padding: 10px;
}

.vtkolecko {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: green;
	margin: 15px;
	padding: 10px;
}
.dvojicka{
border-radius: 50%;
width: 200px;
height: 200px;
background: blue;
}
.dvojicka div  {
border-radius: 50%;
width: 100px;
height: 100px;
background: red;
}

.petrukol{
  width: 100px;
	height: 100px;
	border-radius: 100px;
	background: black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 2000ms;
  animation-iteration-count:infinite;
  animation-name: tocit;
  animation-timing-function: linear;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: tocit;
  -webkit-animation-timing-function: linear;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: tocit;
  -ms-animation-timing-function: linear;
}
.vnitrek{
  width: 80px;
	height: 80px;
	border-radius: 80px;  
	margin: 10px;          
	background: green;
}
.caravert{
  width: 10px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;        
	background: black;
}
.carahor{
  width: 80px;
  height: 10px;
  margin-top:-45px;
  margin-left: auto;
  margin-right: auto;      
	background: black;
}
@-webkit-keyframes tocit {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes tocit {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
 
 
@-ms-keyframes tocit {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
 